.screen-header{
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title{
  font-size: 25px;
  font-weight: 600;
}

.screen-header__icons span{
  margin-left: 25px;
}

@keyframes rotateGear {
  from{
    transform: none;
  }
  to{
    transfrom: rotateZ(360deg);
  }
}

.screen-header__icons .rotate-gear:hover{
  animation: rotateGear 3s ease-in-out;
}